.flashWord {

    margin-left: 5rem;
    font-size: 1.5rem;
    color: blue;
    /* width: 100px;
    height: 100px; */
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    opacity: 0;
  }

  .flashWord-show {
    margin-left: 5rem;
    font-size: 1.5rem;
    color: blue;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    opacity: 1;
  }

