.flex-container-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

#yearlist {
  margin-left: 3%;
  margin-right: 3%;
}

#partialslist {
  margin-left: 5%;
  margin-right: 5%;
}

#wordslist {
  margin-left: 5%;
  margin-right: 5%;
  height: 12.5rem;
  overflow: scroll;
  border: 0.5px solid grey;
  border-radius: 5%;
}

#practicelist {
  margin-left: 10%;
  margin-right: 10%;
}

individualist {
  margin-left: 10%;
  margin-right: 10%;
}