
.green {

    color: green
}

.red{

    color: red
}

.blue {
    color:blue
}

table {
    margin: auto;
    border-collapse: collapse;
    font-size: 1.5rem;
}

td, th{
border: 1px solid darkblue;
padding: 10px;
text-align: left;
}

.table-heading {
    color: darkblue;
}

#score {
    font-size: 1.5rem;
    margin-bottom: 0;
}