
#year1 {
    background-color: gold;
    border: none;
    border-radius: 10%;
    padding: 16px 32px;
    margin: 1rem 1rem;
    color: black;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#year2 {
    background-color: limegreen;
    border: none;
    border-radius: 10%;
    padding: 16px 32px;
    margin: 1rem 1rem;
    color: black;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#year3 {
    background-color: dodgerblue;
    border: none;
    border-radius: 10%;
    padding: 16px 32px;
    margin: 1rem 1rem;
    color: black;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#year4 {
    background-color: mediumorchid;
    border: none;
    border-radius: 10%;
    padding: 16px 32px;
    margin: 1rem 1rem;
    color: black;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#year5 {
    background-color: deeppink;
    border: none;
    border-radius: 10%;
    padding: 16px 32px;
    margin: 1rem 1rem;
    color: black;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#year6 {
    background-color: crimson;
    border: none;
    border-radius: 10%;
    padding: 16px 32px;
    margin: 1rem 1rem;
    color: black;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#prefixes {
    background-color: darkblue;
    border: none;
    border-radius: 10%;
    padding: 16px 32px;
    margin: 1rem 1rem;
    color: white;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#suffixes {
    background-color: blueviolet;
    border: none;
    border-radius: 10%;
    padding: 16px 32px;
    margin: 1rem 1rem;
    color: white;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#medials {
    background-color: mediumvioletred;
    border: none;
    border-radius: 10%;
    padding: 16px 32px;
    margin: 1rem 1rem;
    color: white;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#homophones {
    background-color: firebrick;
    border: none;
    border-radius: 10%;
    padding: 16px 32px;
    margin: 1rem 1rem;
    color: white;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#freestyle {
    background-color: darkorange;
    border: none;
    border-radius: 10%;
    padding: 16px 32px;
    margin: 1rem 1rem;
    color: white;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#words {
    background-color: goldenrod;
    border: none;
    border-radius: 10%;
    padding: 16px 32px;
    margin: 1rem 1rem;
    color: white;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


.partials {

    background-color: gold;
    border: 1px solid black;
    border-radius: 10%;
    padding: 8px 16px;
    margin: 0.5rem 0.5rem;
    color: black;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.words {
    border-radius: 10%;
    padding: 8px 16px;
    margin: 0.15rem 0.15rem;
    color: blue;
    font-size: 1.25rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}