#yearpage_container {
    margin: 2%;
}

/* body {

    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
} */

.holdingmessage {

    font-size: 1.5rem;
}    

